
        
                <div class="shadow p-3 mb-5 bg-white rounded" id="Anub">
                   <h2>Welcome!</h2> <br>
                   <p> A centralized platform to buy & sell textiles markets, build lasting relationship
                        with your client & vendor,a management system to handle all transaction  related 
                        activities including invocing, vendor listing and data maintenance system. </p>
                    
                   <div class="container">
      
                    <form>
                      
                        <mat-form-field class="example-container">
                            <input matInput placeholder="Username" [formControl]="name" required>
                            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>

                          <mat-form-field class="example-container">
                              <input matInput placeholder="Password" [formControl]="password" required>
                              <mat-error *ngIf="password.invalid">{{getErrorMessagee()}}</mat-error>
                           </mat-form-field>

                        
                        <div class="row">

                            <div class="col-md-6">
                             <button type="submit" id="btn">SIGNIN</button>
                             </div>

                           <div class="col-md-6">
                             <button type="submit" id="btn">REGISTER</button>
                           </div>

                        </div>

                        
                        <div class="flex-container">
                          <h6>Forgot Password</h6>
                        </div>
                            
                    
                    </form>
  
                 </div>
           </div>
        
       
                                                         
       
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
