/* #Anubhav{
    height: 400px;
    width: 400px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: brown;

} */
#Anu{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 25px;
}
