<div class="shadow p-3 mb-5 bg-white rounded" id="Anu">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            
                <div class="carousel-inner">

                  <div class="carousel-item active">
                      <p>
                            Animation provides the illusion of motion: HTML elements change styling over time. Well-designed 
                            animations can make your application more fun and easier to use, but they aren't just cosmetic.
                      </p>
                    <img style="width: 100px; height: 200px;" class="d-block w-100" src="assets\image\1.jpg">
                  </div>

                  <div class="carousel-item">
                      <p>Animation provides the illusion of motion: HTML elements change styling over time. Well-designed
                           animations can make your application more fun and easier to use, but they aren't just cosmetic.</p>
                    <img style="width: 100px; height: 100px;" class="d-block w-100" src="assets\image\2.jpg">
                    <p>wdertyuhytrewdsfghjuwedrgfthj ertyu 3wr4et5r6</p>
                  </div>

                  <div class="carousel-item">
                      <p>
                            Animation provides the illusion of motion: HTML elements change styling over time. Well-designed 
                            animations can make your application more fun and easier to use, but they aren't just cosmetic.
                      </p>
                    <img style="width: 100px; height: 250px;" class="d-block w-100" src="assets\image\1.jpg">
                  </div>

                </div>
                <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
              </div> 
            </div>


                  
  