
  
          <div class="shadow p-3 mb-5 bg-white rounded" id="Anub">
             <h2>Forgot Password</h2> <br>
             <p> Don't Worry! Just enter your registered mobile number or Email ID & you'll be good to go. </p>
              
             <div class="container">

              
                <form>
                   <h6>Username</h6>
                      <!-- <mat-form-field class="example-container">
                        <input matInput placeholder="Enter Registered Mobile No./Email ID">
                      </mat-form-field> -->
                     
                      <div class="example-container">
                        <mat-form-field>
                          <input matInput placeholder="Enter your email" [formControl]="email" required>
                          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>  
                      
                     
                      <div class="flex-container">
                        <button mat-raised-button>SUBMIT</button> 
                      </div>
               </form>      
                         
              </div>
              </div>
                    

              
         
      
                                                   
 
































